@model STPSolution.Models.CompaniesDB
@{
    ViewBag.Title = "ListCompnies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Not Working... No idea why...*@
@*<h2>@Model.CompanyName</h2>*@

<h2>List of Companies</h2>